<div id="<%= dom_id organism %>">
  <p>
    <strong>Name:</strong>
    <%= organism.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= organism.species %>
  </p>

  <p>
    <strong>User:</strong>
    <%= organism.user_id %>
  </p>

</div>
