<div id="<%= dom_id entry %>">
  <p>
    <strong>Note:</strong>
    <%= entry.note %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Organism:</strong>
    <%= entry.organism_id %>
  </p>

</div>
